name: Build and deploy ASP.Net Core app to Azure Web App - abcretailbyrh

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore ./ABCRetailByRH/ABCRetailByRH.csproj

      - name: Build
        run: dotnet build --configuration Release ./ABCRetailByRH/ABCRetailByRH.csproj --no-restore

      - name: Publish
        run: dotnet publish ./ABCRetailByRH/ABCRetailByRH.csproj -c Release -o published

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-app
          path: published/

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: dotnet-app
          path: .
      
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: abcretailbyrh
          publish-profile: ${{ secrets.AZUREWEBAPP_PUBLISH_PROFILE }}
          package: .
