name: Build and deploy ASP.Net Core app to Azure Web App - abcretailbyrh

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout GitHub Action
        uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore ./ABCRetailByRH/ABCRetailByRH.csproj

      - name: Build
        run: dotnet build --configuration Release --no-restore ./ABCRetailByRH/ABCRetailByRH.csproj

      - name: Publish
        run: dotnet publish --configuration Release --output ./publish ./ABCRetailByRH/ABCRetailByRH.csproj

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: production

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: .

      - name: Azure Login
        uses: azure/login@v1
        with:
          publish-profile: ${{ secrets.AZUREWEBAPP_PUBLISH_PROFILE }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: abcretailbyrh
          package: .
